In [1]:
import os

In [2]:
from dotenv import load_dotenv

In [3]:
load_dotenv()
password = os.getenv("MONSTA_RAM")

In [4]:
import numpy as np
import pandas as pd

In [5]:
ram = pd.read_parquet("data/2024-04-22/ram.parquet")

In [6]:
ram["multiplier"] = ram["inactive"].str.extract(r"(\d+)").astype(int)

conditions = [
    ram["inactive"].str.contains("days?", regex=True),
    ram["inactive"].str.contains("months?", regex=True),
    ram["inactive"].str.contains("years?", regex=True),
]

values = [
    (ram["multiplier"] * pd.Timedelta(days=1)).astype(str),
    (ram["multiplier"] * pd.Timedelta(days=30)).astype(str),
    (ram["multiplier"] * pd.Timedelta(days=365)).astype(str),
]

ram["inactive_days"] = pd.to_timedelta(np.select(conditions, values))

In [7]:
ram[ram.inactive_days >= pd.Timedelta(days=10)].sort_values(by="earnings", ascending=False)

,pxp,inactive,earnings,unclaimed_pxp,id,multiplier,inactive_days
376,25297,15 days ago,0.77,30,376,15,15 days
3561,25317,about 2 months ago,0.77,35,3561,2,60 days
1350,25226,3 months ago,0.71,30,1350,3,90 days
9242,18908,10 months ago,0.63,50,9242,10,300 days
551,22030,about 1 month ago,0.62,25,551,1,30 days
...,...,...,...,...,...,...,...
7988,0,over 2 years ago,0.00,50,7988,2,730 days
6298,0,over 2 years ago,0.00,50,6298,2,730 days
8576,0,over 2 years ago,0.00,50,8576,2,730 days
9641,0,over 2 years ago,0.00,50,9641,2,730 days
3728,149,over 2 years ago,0.00,50,3728,2,730 days